<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.xmnboy.pg.hellocordova"
        versionCode = "150224"
        version   = "15.02.24">

    <name>Hello, Cordova! (CLI)</name>
    <author  email = "paul.a.fischer@intel.com" href = "xdk.intel.com">Paul Fischer</author>
    <description>Cordova demo and test app.</description>

<!--
Enable individual API permissions by defining each here.
The 'device' permission is required for the 'deviceready' event.
-->
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <!-- <feature name="http://api.phonegap.com/1.0/camera"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/compass"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/contacts"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/file"/> -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <!-- <feature name="http://api.phonegap.com/1.0/storage"/> -->

<!--
If you do not want any permissions to be added to your app, add the
following tag to your config.xml; you will still have the INTERNET
permission on your app, which PhoneGap requires.
-->
    <!-- <preference name="permissions"                value="none"/> -->

<!--
Customize your app and platform with the preference element.
-->
    <!-- <preference name="phonegap-version"             value="3.3.0" /> -->        <!-- all: leave blank to get default PhoneGap version -->
    <preference name="orientation"                  value="default" />      <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"                value="universal" />    <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                   value="false" />        <!-- all: true hides the status bar at the top of the screen -->

    <preference name="webviewbounce"                value="true" />         <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"             value="true" />         <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"              value="false" />        <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"           value="black-opaque" /> <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"            value="true" />         <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"              value="false" />        <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner"   value="true" />         <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"      value="true" />         <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="EnableViewportScale"          value="false" />        <!-- ios: -->
    <preference name="MediaPlaybackRequiresUserAction" value="false" />     <!-- ios: -->
    <preference name="AllowInlineMediaPlayback"     value="false" />        <!-- ios: -->
    <preference name="BackupWebStorage"             value="cloud" />        <!-- ios: -->
    <preference name="TopActivityIndicator"         value="gray" />         <!-- ios: -->
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />    <!-- ios: -->
    <preference name="HideKeyboardFormAccessoryBar" value="false" />        <!-- ios: -->
    <preference name="SuppressesIncrementalRendering" value="false" />      <!-- ios: -->

    <preference name="android-minSdkVersion"        value="9" />            <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"      value="auto" />         <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="android-minSdkVersion"        value="10" />           <!-- android: -->
    <preference name="android-targetSdkVersion"     value="18" />           <!-- android: -->
    <preference name="android-installLocation"      value="auto" />         <!-- android: -->
    <preference name="ErrorUrl"                     value=""/>              <!-- android: -->
    <preference name="BackgroundColor"              value=""/>              <!-- android: -->
    <preference name="KeepRunning"                  value="true"/>          <!-- android: -->
    <preference name="DisallowOverscroll"           value="false"/>         <!-- android: -->
    <preference name="LoadingDialog"                value=","/>             <!-- android: -->
    <preference name="LoadUrlTimeoutValue"          value="20000" />        <!-- android: -->

    <preference name="disable-cursor"               value="false" />        <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->


<!--
Regarding the "android-minSdkVersion" preference above...

A table of SDK versions for Android can be found here:
http://developer.android.com/guide/topics/manifest/uses-sdk-element.html#ApiLevels

A chart showing the relative distribution of Android devices, by SDK version, can be found here:
http://developer.android.com/about/dashboards/index.html
-->

    <!-- Plugins can also be added here. -->
    <!--
        <gap:plugin name="Example" />
        A list of available plugins are available at https://build.phonegap.com/docs/plugins
    -->


<!--
Define app icon for each platform.
-->
    <icon src = "icon.png" />       <!-- default icon -->

    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_57x57.png"               width="57" height="57" /> -->
    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_72x72.png"               width="72" height="72" /> -->
    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_114x114.png"             width="114" height="114" /> -->
    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_144x144.png"             width="144" height="144" /> -->
    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_76x76.png"               width="76" height="76" /> -->
    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_120x120.png"             width="120" height="120" /> -->
    <!-- <icon gap:platform="ios"        src="pkg/icon/icon_152x152.png"             width="152" height="152" /> -->

    <icon gap:platform="android"    src="pkg/icon/icon_36x36_round.png"         gap:qualifier="ldpi" />
    <icon gap:platform="android"    src="pkg/icon/icon_48x48_round.png"         gap:qualifier="mdpi" />
    <icon gap:platform="android"    src="pkg/icon/icon_72x72_round.png"         gap:qualifier="hdpi" />
    <icon gap:platform="android"    src="pkg/icon/icon_96x96_round.png"         gap:qualifier="xhdpi" />
    <icon gap:platform="android"    src="pkg/icon/icon_144x144_round.png"       gap:qualifier="xxhdpi" />

    <!-- <icon gap:platform="winphone"   src="pkg/icon/icon_62x62.png"/> -->
    <!-- <icon gap:platform="winphone"   src="pkg/icon/icon_173x173.png"             gap:role="background" /> -->

    <!-- <icon gap:platform="blackberry" src="pkg/icon/icon_62x62.png"/> -->
    <!-- <icon gap:platform="blackberry" src="pkg/icon/icon_68x68.png"               gap:state="hover"/> -->

    <!-- <icon gap:platform="webos"      src="pkg/icon/icon_62x62.png"/> -->


<!--
Define app splash screen for each platform.
-->
    <splash src="splash.png" />     <!-- default splash screen image -->

    <!-- <gap:splash gap:platform="ios"   src="pkg/splash/screen-iphone-portrait.png"     width="320" height="480" /> -->
    <!-- <gap:splash gap:platform="ios"   src="pkg/splash/screen-iphone-portrait-2x.png"  width="640" height="960" /> -->
    <!-- <gap:splash gap:platform="ios"   src="pkg/splash/screen-ipad-portrait.png"       width="768" height="1024" /> -->
    <!-- <gap:splash gap:platform="ios"   src="pkg/splash/screen-ipad-landscape.png"      width="1024" height="768" /> -->

    <preference name="SplashScreen" value="screen" />       <!-- android: base name of the splashscreen files -->
    <preference name="SplashScreenDelay" value="250" />     <!-- android: automatice splashscreen delay -->

    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_320x426_portrait.png"  gap:qualifer="port-ldpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_426x320_landscape.png" gap:qualifer="land-ldpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_320x470_portrait.png"  gap:qualifer="port-mdpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_470x320_landscape.png" gap:qualifer="land-mdpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_480x640_portrait.png"  gap:qualifer="port-hdpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_640x480_landscape.png" gap:qualifer="land-hdpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_720x960_portrait.png"  gap:qualifer="port-xhdpi" /> -->
    <!-- <gap:splash gap:platform="android" src="pkg/splash/splash_960x720_landscape.png" gap:qualifer="land-xhdpi" /> -->

    <!-- <gap:splash gap:platform="blackberry"   src="pkg/blackberry/screen-225.png" /> -->
    <!-- <gap:splash gap:platform="winphone"     src="pkg/windows-phone/screen-portrait.jpg" /> -->


<!--
Define access to external domains.

<access />            - a blank access tag denies access to all external resources.
<access origin="*" /> - a wildcard access tag allows access to all external resource.

Otherwise, you can provide specific domains:
-->
<!--
    <access origin="http://phonegap.com" />                    - allow any secure requests to http://honegap.com/
    <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
-->
    <!-- <access origin="http://127.0.0.1*" /> -->               <!-- allow local pages only -->
    <access origin="*"/>                                <!-- allow access to any domain -->

</widget>
